@font-face {
    font-family: "SF-Regular";
    src: url("./sf-pro-display-cufonfonts/SF-Pro-Display-Thin.otf");
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: hidden;
}
.header {
    background-color: rgba(0,0,0,0.8);
    color: #f5f5f7;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.header-prevent {
    height: 44px;
}
.header-web {
    width: 100%;
    max-width: 980px;
    margin:0 auto;
    padding: 0 8px ;
    height: 44px;
    display: flex;
    justify-content:space-between;
    overflow: hidden;
}
.header-link {
    color: #dadada;
    text-decoration: none;
    font-family: "SF-Regular";
    font-size: 12px;
    letter-spacing: 0.08em;
}
.header-link:hover {
    color: #fff;
    transition-delay:0.05s;
}
.header-link p {
    margin-top: 15px;
}
.overflow-hidden {
    overflow: hidden;
    height: 44px;
}
.search {
    margin-top: -1px;
    overflow: hidden;
}
